html, body {
    width: 100%;
    height: 100%;
    margin: 0 0 1rem 0 !important; /* margin-top, margin-right, margin-bottom, margin-left */
    padding: 0;
}

#backgroundHome {
	background: #FFFFFF url("../img/background2.png") no-repeat center top;
	margin: 0;
	padding: 0; /* top right bottom left */
	width: 100%;
}

.form-group {
	margin-bottom: 0;
}

#idRecoGo {
	margin-top: 1rem;
}

#map-id {
    width: 100%;
    height: 60vh; /* 1vh (and 1vw) means 1% height (width) of the viewport */
    padding: 0 !important;
    margin: 0 !important;
}

/* non utilisé actuellement - mise en forme des popups de la carte Leaflet */
.leaflet-popup-tip, .leaflet-popup-content-wrapper {
	background : #7EBCB9;
	color : #222327;
}

#code_iris, #selectAlgoRec, #selectAlgoClustering {
    width: 13rem;
}

#buttonColorIris {
	width: 3rem;
	margin-top: 1rem;
	margin-right: 1.5rem;
}

#buttonColorRecommendations, #buttonSelectAlgoRec, #buttonColorClusters {
	width: 10rem;
	margin-bottom: 1rem;
}

.title, .btnLink {
    color: white !important;
}

footer {
	padding: 1rem;
	margin: 0;
	position: relative;
}

.textFooter {
	color: white;
}