<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>VizLIRIS</title>
	<!-- lie le style CSS externe static/css/styles.css -->
	<link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" media="all" type="text/css">
	<!-- ajoute une image favicon (dans l'onglet du navigateur) -->
	<!--<link rel="shortcut icon" type="image/x-icon" href="img/sheep.png" />-->
	<link rel="icon" href="static/img/favicon.ico"/>

	<link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap-4.0.0-dist/css/bootstrap.min.css')}}" />
	<link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet.css')}}" />
	<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<body id="backgroundHome" class="container-fluid" onload="initialize()">
	<header class="row">
		<nav class="col-12 navbar navbar-dark bg-dark fixed-top">
			<a class="title" href="index.html"><img src="{{url_for('static', filename='img/heptagon-300px.png')}}" class="d-inline-block align-top" width="50px" height="50px" alt="Logo"/><h1 style="padding-left: 1rem; display: inline-block;">VizLIRIS</h1></a>
		</nav>
	</header>

	<div class="row" style="margin: 0; padding: 4rem 0 0 0; text-align: justify;">
		<div class="col-10 offset-1">
			<p> Ce projet, réunissant des chercheurs en sociologie, psychologie sociale et informatique et la start-up Home in Love, propose une plate-forme Internet destinée à faciliter la recherche de logements. L’objectif du projet consiste à améliorer les procédures de recommandation spatiale en proposant des quartiers à des personnes en recherche de logement. L’horizon du projet est le développement d’un système de recommandation de quartier pour les personnes désirant déménager, appuyé sur une catégorisation des quartiers intégrant les enseignements de la sociologie et de la psychologie sociale. </p>
		</div>
	</div>

	<div class="row" style="margin: 0; padding: 4rem 0 0 0;">
		<div class="col-6" style="text-align: center;">
			<p>Recommandez moi un quartier selon mes pr&eacute;f&eacute;rences</p><br/>
			<form id="formReco" action="/recommendation.html" method="post" role="form">
				<button id="recoGo" class="btn btn-dark">Recommander</button><br/><br/>
			</form>
		</div>

		<div class="col-6" style="text-align: center;">
			<p>Identifiez les quartiers similaires au mien</p><br/>
			<form id="formClust" action="/clustering.html" method="post" role="form">
				<button id="clustGo" class="btn btn-dark">Clustering</button><br/><br/>
			</form>
		</div>
	</div>

	<!-- footer -->
	<footer class="row bg-dark fixed-bottom">
		<div class="container" style="padding: 0;">
			<div class="row">
				<div class="col-3" style="text-align: center;">
					<a href="https://homeinlove.fr/home"><img src="{{url_for('static', filename='img/homeinlove.png')}}" class="d-inline-block align-top" width="50px" height="50px" alt="Home in Love"/></a><br/>
				</div>
				<div class="col-3" style="text-align: center;">
					<a href="http://imu.universite-lyon.fr/projet/hil-intelligence-artificielle-pour-faciliter-la-recherche-immobiliere-systeme-de-recommandation-avec-visualisation-spatiale-et-non-spatiale-pour-la-recherche-immobiliere-2017/"><img src="{{url_for('static', filename='img/imu.jpg')}}" class="d-inline-block align-top" width="100px" height="50px" alt="Laboratoire d'Excellence - Intelligence des Mondes Urbains"/></a><br/>
				</div>
				<div class="col-3" style="text-align: center;">
					<a href="https://liris.cnrs.fr/"><img src="{{url_for('static', filename='img/liris.png')}}" class="d-inline-block align-top" width="80px" height="50px" alt="Laboratoire d'InfoRmatique en Imagerie et Systèmes d'information"/></a><br/>
				</div>
				<div class="col-3" style="text-align: center;">
					<a href="https://www.centre-max-weber.fr/"><img src="{{url_for('static', filename='img/cmw.jpg')}}" class="d-inline-block align-top" width="80px" height="50px" alt="Centre Max Weber"/></a><br/>
				</div>
			</div>
		</div>
	</footer>

	<script src="{{url_for('static', filename='lib/jquery-3.3.1.js')}}"></script>
	<script src="{{url_for('static', filename='lib/rainbowvis.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap-4.0.0-dist/js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='lib/leaflet/leaflet.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='lib/leaflet.ajax.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/utils.js')}}"></script>
	<script src="{{url_for('static', filename='js/carto.js')}}"></script>
	<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
	<!--<script type=″text/javascript″ src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>-->
</body>
</html>
