<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>VizLIRIS</title>
	<!-- link to external CSS stylesheet static/css/styles.css -->
	<link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" media="all" type="text/css">
	<!-- adding favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"/>

	<link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap-4.0.0-dist/css/bootstrap.min.css')}}" />
	<link rel="stylesheet" href="{{url_for('static', filename='lib/leaflet/leaflet.css')}}" />
	<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container-fluid" onload="initialize()">
	<header class="row">
		<nav class="col-12 navbar navbar-dark bg-dark fixed-top">
			<div class="col-10" style="margin: 0 !important; padding: 0 !important;">
				<a class="title" href="index.html"><img src="{{url_for('static', filename='img/heptagon-300px.png')}}" class="d-inline-block align-top" width="50px" height="50px" alt="Logo"/><h1 style="padding-left: 1rem; display: inline-block;">VizLIRIS</h1></a>
			</div>
			<div class="col-auto" align="right">
				<button id="buttonResetIris" class="btn btn-primary" onclick="window.location.reload()"><i class="fas fa-sync-alt"></i></button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aideReco">Aide</button>
			</div>
		</nav>
	</header>

	<main class="row">
        <h3 style="margin-bottom: 1rem;">Recommandation</h3>
	</main>

	<main class="row">
		<p>Choisir un algorithme, le nombre de recommandations souhait&eacute;es ainsi que le rayon de la zone de recherche. Placer un ou plusieurs marqueurs de départ (clic gauche sur la carte) et un marqueur d'arrivée (clic droit sur la carte) puis lancer la recommandation.</p>
	</main>

	<main class="row">
		<div class="col-auto" style="margin-right: 1rem; padding: 0;">
			<select id="selectAlgoRec" class="form-control">
				<!--<option value="" selected>----</option>-->
				<option value="cosine" selected>Similarit&eacute; cosine</option>
				<option value="deviation">&Eacute;cart-type</option>
				<option value="birch">Birch</option>
				<option value="kmeans">KMeans</option>
				<option value="meanshift">Mean Shift</option>
				<option value="minimbatchkmeans">Mini Batch KMeans</option>
				<option value="spectral">Spectral Clustering</option>
				<option value="hdbscan">HDBSCAN</option>
				<option value="svm">One class SVM</option>
			</select>
			<small class="form-text text-muted">Algorithme</small>
		</div>
		<div class="col-auto" style="margin-right: 1rem; padding: 0;">
			<input id="topReco" class="form-control" type="number" min="0" value="10" maxlength="2">
			<small class="form-text text-muted">Nombre de recommandations</small>
		</div>
		<div class="col-auto" style="margin-right: 1rem; padding: 0;">
			<input id="distReco" class="form-control" type="number" min="0" max="10" value="4" maxlength="2">
			<small class="form-text text-muted">Distance maximale (kilom&egrave;tres)</small>
		</div>
		<div class="col-4" style="margin: 0; padding: 0;">
			<button id="buttonColorRecommendations" class="btn btn-primary">Recommander &nbsp; <img id="loading" src="../static/img/loading.gif" height="25" style="display: none;" alt="loading..."></button>
		</div>
		<div id="informations">
		</div>
	</main>

	<main class="row">
		<div class="col-12" id="map-id"></div>
	</main>

	<main class="row">
		<div class="col-12" id="properties-id">
			<h3>Informations sur l'IRIS s&eacute;lectionn&eacute;</h3>
			<input type="checkbox" id="groupedTable" name="groupedTable" value="grouped_indicators"/>
        	<label for="groupedTable">Indicateurs regroup&eacute;s</label>
			<input type="checkbox" id="brutTable" name="brutTable" value="brut_indicators"/>
        	<label for="brutTable">Indicateurs bruts</label>

			<input class="form-control" id="inputSearch" type="text" placeholder="Rechercher..">
			<div class="table-responsive">
				<table id="properties-tab" class="table table-hover table-striped table-sm">
					<thead class="thead-light" style="position: sticky; top: 0;"><tr><th>Code attribut</th><th>Nom attribut</th><th>Valeur</th></tr></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</main>

	<footer class="row bg-dark">
		<div class="container" style="padding: 0;">
			<div class="row">
				<div class="col-3" style="text-align: center;">
					<a href="https://homeinlove.fr/home"><img src="{{url_for('static', filename='img/homeinlove.png')}}" class="d-inline-block align-top" width="50px" height="50px" alt="Home in Love"/></a><br/>
				</div>
				<div class="col-3" style="text-align: center;">
					<a href="http://imu.universite-lyon.fr/projet/hil-intelligence-artificielle-pour-faciliter-la-recherche-immobiliere-systeme-de-recommandation-avec-visualisation-spatiale-et-non-spatiale-pour-la-recherche-immobiliere-2017/"><img src="{{url_for('static', filename='img/imu.jpg')}}" class="d-inline-block align-top" width="100px" height="50px" alt="Laboratoire d'Excellence - Intelligence des Mondes Urbains"/></a><br/>
				</div>
				<div class="col-3" style="text-align: center;">
					<a href="https://liris.cnrs.fr/"><img src="{{url_for('static', filename='img/liris.png')}}" class="d-inline-block align-top" width="80px" height="50px" alt="Laboratoire d'InfoRmatique en Imagerie et Syst&egrave;mes d'information"/></a><br/>
				</div>
				<div class="col-3" style="text-align: center;">
					<a href="https://www.centre-max-weber.fr/"><img src="{{url_for('static', filename='img/cmw.jpg')}}" class="d-inline-block align-top" width="80px" height="50px" alt="Centre Max Weber"/></a><br/>
				</div>
			</div>
		</div>
	</footer>


	<!-- modal help -->
	<div class="modal fade" id="aideReco" tabindex="-1" role="dialog" aria-labelledby="aideRecoLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="aideRecoLabel">Aide &agrave; la recommandation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  	<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="text-align: justify;">
					Choisir un algorithme parmi : <br/>
					<ul id="lstAlgorithms">
						<li>La <i>similarit&eacute; cosine </i> (1 marqueur de départ) &nbsp; <a href="https://en.wikipedia.org/wiki/Cosine_similarity" target="_blank"><i class="fa fa-question-circle"></i></a></li>
						<li>L'<i>&eacute;cart-type </i> (1 ou plusieurs marqueurs de départ) &nbsp; <a href="https://en.wikipedia.org/wiki/Standard_deviation" target="_blank"><i class="fa fa-question-circle"></i></a></li>
						<li>L'algorithme <i>Birch</i> (1 marqueur de départ) &nbsp; <a href="https://en.wikipedia.org/wiki/BIRCH" target="_blank"><i class="fa fa-question-circle"></i></a></li>
						<li>L'algorithme <i>Kmeans</i> (1 marqueur de départ) &nbsp; <a href="https://en.wikipedia.org/wiki/K-means_clustering" target="_blank"><i class="fa fa-question-circle"></i></a></li>
						<li>L'algorithme <i>Mean Shift</i> (1 marqueur de départ) &nbsp; <a href="https://en.wikipedia.org/wiki/Mean_shift" target="_blank"><i class="fa fa-question-circle"></i></a></li>
						<li>L'algorithme <i>Mini Batch Kmeans</i> (1 marqueur de départ) &nbsp; <a href="https://en.wikipedia.org/wiki/K-means_clustering" target="_blank"><i class="fa fa-question-circle"></i></a></li>
						<li>L'algorithme <i>Spectral Clustering</i> (1 marqueur de départ) &nbsp; <a href="https://en.wikipedia.org/wiki/Spectral_clustering" target="_blank"><i class="fa fa-question-circle"></i></a></li>
					</ul>
					Les marqueurs de d&eacute;part repr&eacute;sentent par exemple le lieu de vie actuel ou les quartiers pr&eacute;f&eacute;r&eacute;s et le marqueur d'arriv&eacute;e repr&eacute;sente par exemple le nouveau lieu de travail.<br/>
					Choisir ensuite le nombre de recommandations souhaitées et le rayon de recherche autour du marqueur d'arrivée (limité à 10 kilomètres). <br/>
					Cliquer sur la carte pour placer les marqueurs : clic gauche pour les marqueurs de départ et clic droit pour le marqueur d'arriv&eacute;e. Lancer la recommandation. <br/>
					Les informations sur les quartiers (population, services...) sont disponibles en cliquant sur un IRIS.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<!-- modal when no marker -->
	<div class="modal fade" id="noMarker" tabindex="-1" role="dialog" aria-labelledby="noMarkerLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="noMarkerLabel">Attention</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  	<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="text-align: justify;">
					Il faut poser deux marqueurs ou plus en fonction de l'algorithme choisi.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<script src="{{url_for('static', filename='lib/jquery-3.3.1.js')}}"></script>
	<script src="{{url_for('static', filename='lib/rainbowvis.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='lib/bootstrap-4.0.0-dist/js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='lib/leaflet/leaflet.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='lib/leaflet.ajax.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/utils.js')}}"></script>
	<script src="{{url_for('static', filename='js/carto.js')}}"></script>
	<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
	<!--<script type=″text/javascript″ src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>-->
</body>
</html>

<script type="text/javascript">
// search in the properties table
$(document).ready(function(){
	$("#inputSearch").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#properties-tab tr").filter(function() {
	  		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	});
});
</script>